<div class="gift-card-overview-header">
    <span class="gift-card-title">Gift Cards Overview</span>
    <p-iconfield class="search-field">
        <p-inputicon class="pi pi-search" />
        <input pInputText id="search" [formControl]="searchControl" placeholder="Search Cards..." class="gift-card-search" />
    </p-iconfield>
</div>
<div class="gift-card-table-container">
    <p-table [value]="(rows$ | async) ?? []" [globalFilterFields]="['token','maskedCardNumber','status']"
             [paginator]="true" [rows]="pageSize" [totalRecords]="totalRecords" styleClass="gift-card-table"
             [lazy]="true" (onLazyLoad)="loadData($event)" [loading]="loading">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="token">Token <p-sortIcon field="token" /></th>
                <th pSortableColumn="cardNumber">Card Number <p-sortIcon field="cardNumber" /></th>
                <th pSortableColumn="region">Region <p-sortIcon field="region" /></th>
                <th pSortableColumn="balance">Balance <p-sortIcon field="balance" /></th>
                <th pSortableColumn="issueDate">Issue Date <p-sortIcon field="issueDate" /></th>
                <th pSortableColumn="expiryDate">Expiry Date <p-sortIcon field="expiryDate" /></th>
                <th pSortableColumn="status">Status <p-sortIcon field="status" /></th>
                <th>Actions</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-giftCard>
            <tr>
                <td>{{ giftCard.token }}</td>
                <td>{{ giftCard.maskedCardNumber }}</td>
                <td>{{ giftCard.region }}</td>
                <td>{{ giftCard.balance | currency:giftCard.currency||DEFAULT_CURRENCY_CODE:'symbol':'1.2-2' }}</td>
                <td>{{ giftCard.issueDate | date }}</td>
                <td>{{ giftCard.expiryDate | date }}</td>
                <td>
                    <p-tag [severity]="
                      giftCard.status === 'ACTIVE'
                    ? 'success'
                    : giftCard.status === 'EXPIRED'
                    ? 'warn'
                    : 'danger'
                "
                    >
                        {{ giftCard.status }}
                    </p-tag>
                </td>
                <td>
                    <div class="grid gap-3">
                        <div class="col-1">
                            <p-button
                                icon="pi pi-pen-to-square"
                                pTooltip="Update Card"
                                tooltipPosition="top"
                                outlined="true"
                                rounded="true"
                                severity="info"
                                text="true"
                                (onClick)="onClickEditCard()"></p-button>
                        </div>
                        <div class="col-1">
                            <p-button
                                icon="pi pi-dollar"
                                pTooltip="Balance Operations"
                                tooltipPosition="top"
                                outlined="true"
                                rounded="true"
                                severity="success"
                                text="true"></p-button>
                        </div>
                        <div class="col-1">
                            <p-button
                                icon="pi pi-calendar-plus"
                                pTooltip="Renew Validity"
                                tooltipPosition="top"
                                outlined="true"
                                rounded="true"
                                severity="info"
                                text="true"></p-button>
                        </div>
                        <div class="col-1">
                            <p-button
                                icon="pi pi-pause"
                                pTooltip="Block/Unblock"
                                tooltipPosition="top"
                                outlined="true"
                                rounded="true"
                                severity="danger"
                                text="true"
                                [loading]="blockingUnblockingMap[giftCard.token]"
                                (onClick)="onClickBlockUnblockCard(giftCard)"></p-button>
                        </div>
                        <div class="col-1">
                            <p-button
                                icon="pi pi-chart-bar"
                                pTooltip="Audit Report"
                                tooltipPosition="top"
                                outlined="true"
                                rounded="true"
                                severity="info"
                                text="true"></p-button>
                        </div>
                        <div class="col-1">
                            <p-button
                                icon="pi pi-envelope"
                                pTooltip="Send Via Email"
                                tooltipPosition="top"
                                outlined="true"
                                rounded="true"
                                severity="info"
                                text="true"></p-button>
                        </div>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<app-edit-card-dialog [visible]="showEditDialog" />